.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

/* TOP BAR */
.topBar {
  background: #0f172a;
  color: #fff;
  font-size: 11px;

  .frame {
    max-width: 1200px;
    margin: auto;
    padding: 6px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .item {
    display: flex;
    color: #fff;
    text-decoration: none;
    align-items: center;
    gap: 6px;

  }

  .divider {
    width: 1px;
    height: 14px;
    background: #fff;
    margin: 0 14px;
    opacity: 0.6;
  }

  .icon {
    color: #fff;
    display: inline;;
  }
}

/* MAIN BAR */
.menuBar {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 25px;
    display: none;
  }

  .logoText {
    font-size: 18px;
    display: flex;
    gap: 4px;

    .valtix {
      font-weight: 500;
      font-family: var(--font-audiowide);
      text-transform: uppercase;
    }

    .cube {
      color: #34aadc;
      font-weight: 600;
      font-family: var(--font-audiowide);
      text-transform: uppercase;
    }
  }
}

/* DESKTOP NAV */
.desktopNav {
  ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      position: relative;
      display: inline-block;

      &:hover .submenu {
        display: block;
      }
    }

    a {
      text-decoration: none;
      font-size: 14px;
      color: #667;

      &:hover {
        color: #34aadc;
      }
    }
  }
}

.hasSubmenu {
  position: relative;
  margin-top: 2.5px;

  span {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }

  &:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  background: #fff;
  border-radius: 8px;
  min-width: 200px;
  padding: 8px 0;

  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  border: 1px solid #e5e7eb;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease;
  z-index: 100;

  a {
    display: block;
    padding: 10px 16px;
    font-size: 14px;
    color: #333;
    text-decoration: none;

    &:hover {
      background: #f5f7fa;
      color: #34aadc;
    }
  }
}




/* HAMBURGER */
.hamburger {
  display: none;
  width: 28px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;

  span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #333;
    left: 0;
    transition: 0.3s;
  }

  span:nth-child(1) { top: 0; }
  span:nth-child(2) { top: 9px; }
  span:nth-child(3) { top: 18px; }

  &.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
  }

  &.active span:nth-child(2) {
    opacity: 0;
  }

  &.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
  }
}

/* MOBILE MENU */
.mobileMenu {
  display: none;
  flex-direction: column;
  background: #fff;
  border-top: 1px solid #e5e5e5;

  a {
    padding: 16px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #f1f1f1;
  }
}

.show {
  display: flex;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  background: #fff;
  border-top: 1px solid #e5e7eb;

  a {
    padding: 16px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #f1f1f1;
  }
}

.mobileSubmenu {
  border-bottom: 1px solid #f1f1f1;

  button {
    width: 100%;
    padding: 16px;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

.mobileSubmenuItems {
  background: #f9fafb;

  a {
    padding: 14px 24px;
    font-size: 13px;
    display: block;
    border-bottom: 1px solid #e5e7eb;
  }
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .topBar {
    display: none;
  }

  .desktopNav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobileMenu.show {
    display: flex;
  }
}

